package ${package.Service};

import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import mon.sof.common.orm.IBaseAction;
import org.springframework.stereotype.Service;
import org.springframework.beans.factory.annotation.Autowired;
import mon.sof.common.orm.AbstractBaseAction;

/**
 * <p>
 * $!{table.comment} 服务实现类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Service
#if(${kotlin})
open class ${entity}Service : ${entity}Service<${table.mapperName}, ${entity}>(), ${entity}Service {

}
#else
public class ${entity}Service extends AbstractBaseAction<${table.mapperName}, ${entity}> {

    @Autowired
    ${table.mapperName} ${table.mapperName}s;

    @Override
    public IBaseAction<${entity}> getMapper() {
        return ${table.mapperName}s;
    }
}
#end
